<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlightReservationSystem</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoController</display-name>
    <servlet-name>DemoController</servlet-name>
    <servlet-class>controller.DemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoController</servlet-name>
    <url-pattern>/DemoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoForController</display-name>
    <servlet-name>DemoForController</servlet-name>
    <servlet-class>controller.DemoForController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoForController</servlet-name>
    <url-pattern>/DemoForController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDashboardController</display-name>
    <servlet-name>CustomerDashboardController</servlet-name>
    <servlet-class>controller.CustomerDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDashboardController</servlet-name>
    <url-pattern>/CustomerDashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassCustomerController</display-name>
    <servlet-name>ChangePassCustomerController</servlet-name>
    <servlet-class>controller.ChangePassCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassCustomerController</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Kesemujhe</display-name>
    <servlet-name>Kesemujhe</servlet-name>
    <servlet-class>controller.Kesemujhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kesemujhe</servlet-name>
    <url-pattern>/Kesemujhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightController</display-name>
    <servlet-name>SearchFlightController</servlet-name>
    <servlet-class>controller.SearchFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightController</servlet-name>
    <url-pattern>/SearchFlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlightController</display-name>
    <servlet-name>BookFlightController</servlet-name>
    <servlet-class>controller.BookFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlightController</servlet-name>
    <url-pattern>/BookFlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassAdminController</display-name>
    <servlet-name>ChangePassAdminController</servlet-name>
    <servlet-class>controller.ChangePassAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassAdminController</servlet-name>
    <url-pattern>/ChangePassAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentProcessController</display-name>
    <servlet-name>PaymentProcessController</servlet-name>
    <servlet-class>controller.PaymentProcessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentProcessController</servlet-name>
    <url-pattern>/PaymentProcessController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpcomingFlightsController</display-name>
    <servlet-name>UpcomingFlightsController</servlet-name>
    <servlet-class>controller.UpcomingFlightsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpcomingFlightsController</servlet-name>
    <url-pattern>/UpcomingFlightsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicketController</display-name>
    <servlet-name>CancelTicketController</servlet-name>
    <servlet-class>controller.CancelTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketController</servlet-name>
    <url-pattern>/CancelTicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PastFlightsController</display-name>
    <servlet-name>PastFlightsController</servlet-name>
    <servlet-class>controller.PastFlightsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PastFlightsController</servlet-name>
    <url-pattern>/PastFlightsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightOperationController</display-name>
    <servlet-name>FlightOperationController</servlet-name>
    <servlet-class>controller.FlightOperationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightOperationController</servlet-name>
    <url-pattern>/FlightOperationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightActionController</display-name>
    <servlet-name>FlightActionController</servlet-name>
    <servlet-class>controller.FlightActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightActionController</servlet-name>
    <url-pattern>/FlightActionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightController</display-name>
    <servlet-name>AddFlightController</servlet-name>
    <servlet-class>controller.AddFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightController</servlet-name>
    <url-pattern>/AddFlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerDetailsController</display-name>
    <servlet-name>PassengerDetailsController</servlet-name>
    <servlet-class>controller.PassengerDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerDetailsController</servlet-name>
    <url-pattern>/PassengerDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChangesController</display-name>
    <servlet-name>AdminChangesController</servlet-name>
    <servlet-class>controller.AdminChangesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangesController</servlet-name>
    <url-pattern>/AdminChangesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratePDF</display-name>
    <servlet-name>GeneratePDF</servlet-name>
    <servlet-class>controller.GeneratePDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePDF</servlet-name>
    <url-pattern>/GeneratePDF</url-pattern>
  </servlet-mapping>
</web-app>